*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: azure;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
span {
    color: aqua;
}
h2{
    background-color:rgb(145, 52, 189);
    color: white;
    text-align: center;
    font-style: italic;
}
h3{
    background-color: powderblue;
    color: navy;
    text-decoration: underline;
    text-align: right;
}